/*******************************************************************************
Quill styles
*******************************************************************************/
.quill-wrapper {
  background-color:#fff;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  width:100%;
}
.toolbar {
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
}

/*******************************************************************************
T styles
*******************************************************************************/
#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

.outer {
  width: 100%;
  margin-bottom: 20px;
}

#header_wrap .inner {
  padding: 10px 10px 20px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  text-shadow: #111 0px 0px 10px;
}

footer p {
  color: #f2f2f2;
}
footer a {
  color: #F2F2F2;
  text-decoration: underline;
}
#footer_wrap {
  background: #212121;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.75em;
  text-align: center;
}
